@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #fff;
}

#wrap {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
}

.inner {
    /* 좌우 여백수치를 기준으로 작성 */
    width: calc(100% - 30px);
    /* 전체비율 - 양쪽 여백의 합 */

    margin: 0 auto;
}

.title {
    margin-bottom: 20px;
}

.title p {
    font-size: 14px;
}

.title h3 {
    font-size: 22px;
}

.header {
    height: 70px;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* 💔수직가운데정렬안됐음 - 검사창 확인 -높이값 등등 확인하고 여백(높이값) 속성 추가 시켜주기 */
}


/* .header end */


.main_visual {
    height: calc(100vh - 70px);
    position: relative;
}

.main_visual figure {
    height: 100%;
}

.main_visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual div {
    /* width: 312px; */
    width: 100%;
    padding: 0 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_visual div h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

/* .main_visual end */

.cont01 {
    margin: 60px 0;
}

.cont01 .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cont01 .list .item {
    /* width: 172px; */
    /* width: 49%; */
    width: calc(100% / 2 - 7px);
    /* (화면비율 100%에서 반을해서 마진값 7px를 가진 값) */

    /* 
    calc => margin의 간격 고정
    (화면비율 100%에서 반을해서 마진값 7px를 가진 값)
     %   => 사이 간격도 조정
    */
    margin-bottom: 20px;
}

.cont01 .list .item div {
    margin-top: 10px;
}

.cont01 .list .item div h4 {
    /* 폰트크기 기본값 16px (작성생략 가능) */
}

.cont01 .list .item div p {
    font-size: 13px;
    margin-top: 5px;
}

.cont01 .list .item figure {
    width: 100%;
    height: 172px;
    border-radius: 10px;
    overflow: hidden;
}

.cont01 .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .cont01 end */

.cont02 {
    margin: 60px 0;
}

.cont02 .item {
    background-color: #252027c0;
    border-radius: 10px;
    overflow: hidden;
}

.cont02 .item figure {
    height: 160px;
}

.cont02 .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont02 .item .info {
    /* 텍스트가 가지는 영역엔 높이값 설정하지 않고 패딩을 쓰는게 좋음 */
    padding: 15px;
}

.cont02 .item .info p {
    font-size: 13px;
    margin-bottom: 5px;
}

.cont02 .item .info div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* 아이콘과 텍스트 정렬 */
}

.cont02 .item .info div img {
    /* 크기가 다를경우
    로고/아이콘의 경우 가로/세로 중 1개만 적용시켜줌 */
}

.cont02 .item .info div span {
    font-size: 12px;
    margin-left: 5px;
}


/* .cont02 end */


.cont03 {
    margin: 60px 0;
}

.cont03 .title {
    text-align: center;
}

.cont03 .slide_wrap {
    margin-top: 20px;
}

.cont03 .slide_wrap .swiper-slide {
    /* 슬라이더는 자체적으롷 width값을 가짐 */
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

.cont03 .slide_wrap .swiper-slide figure {
    height: 160px;
}

.cont03 .slide_wrap .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont03 .slide_wrap .swiper-slide .info {
    padding: 15px;
}

.cont03 .slide_wrap .swiper-slide .info p {
    font-size: 13px;
    margin-bottom: 5px;
}

.cont03 .slide_wrap .swiper-slide .info div {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.cont03 .slide_wrap .swiper-slide .info div span {
    font-size: 12px;
    margin-left: 5px;
}

/* .swiper-pagination-bullet설정 */
.cont03 .slide_wrap {
    position: relative;
}

.cont03 .slide_wrap .swiper {
    position: static;
    /* 포지션 해제 */
}

.cont03 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -25px;
}

.cont03 .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    
}

.cont03 .swiper-pagination-bullet-active {
    background: #ff0000;
}

.cont03 .swiper-pagination-bullet {
    background: #ff0000;
}

.footer {
    padding: 20px 0;
    background-color: #333;
    color: #ffffffa9;
    font-size: 13px;
    text-align: center;
}


/* 화면의 크기가 641이상일 때 변화
미디어쿼리 사용 */
@media screen and (min-width:641px) {
    /* 실행코드 */
    #wrap {
        /* background-color: rgb(199, 255, 252);
        color: #333; */
        max-width: 100%;
    }

    .inner {
        max-width: 1280px;
    }

    .cont01 .list .item {
    width: calc(100% / 4 - 7px);
    /* width: 24%; */
    }


}/* min 641 */